body{
    font-family: Arial, sans-serif;
    background: #f3f4f6;
}

.contenedor{
    width: 500px;
    margin: 50px auto;
    padding: 20px;
    background: white;
    border-radius: 10px;
    text-align:center;
}

button{
    margin-top:15px;
    padding:10px 20px;
    cursor:pointer;
}