*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family: "Segoe UI", sans-serif;
    background:#f4f7fb;
    min-height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
}

.contenedor{
    width:900px;
    max-width:90%;
    background:white;
    padding:40px;
    border-radius:20px;
    box-shadow:
        0 10px 30px rgba(0,0,0,.1);
    text-align:center;
}

h1{
    margin-bottom:20px;
    color:#1f2937;
}

input[type="file"]{
    margin:20px 0;
    padding:15px;
    border:2px dashed #2563eb;
    width:100%;
    border-radius:10px;
    background:#eff6ff;
}

button{

    background:#2563eb;
    color:white;
    border:none;
    padding:12px 24px;
    font-size:16px;
    border-radius:10px;
    cursor:pointer;
    transition:.3s;
}

button:hover{
    background:#1d4ed8;
}

hr{
    margin:25px 0;
}

#resultado{
    margin-top:20px;
    text-align:left;
}

h4{
    margin-top:15px;
    color:#2563eb;
}
